@CHARSET "ISO-8859-1";

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 16px;
	background-color: #000000; 
	color: #ffffff; 
}

body > div{
	margin-left: 10px;
}

table {
	width: 100%;
	border-color: #ffffff;
}

table > caption{
	text-align: center;
}

table > thead {
	background-color: #ffffff; 
	color: #000000; 
}

table > tbody > tr > td > input[type=button]{
	margin: 10px;
	width: 80%;
}

input[type=button] {
	background: #000000;
	color: #ffffff ;
	border: 2px solid #ffffff;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #ffffff;
}

a {
	color: #ffffff ;
}

a:HOVER {
	color: #e0e0e0 ;
}

caption {
    color: #ffffff;
}

.oculto{
	display: none;
}

input[type=text]{
	color: #000000;
}


