div#blocoAcoesNavegacao{
	width: 25%;
}

div#blocoMapa{
	width: 75%;
}

input[type=button] {
	margin: 5px;
}

input[type=button]#logNavegacaoBotao {
	margin-bottom: 10px;
}

div#blocoAcoesNavegacao, div#blocoMapa{
	float: left;
}